<h1>admin</h1>
<% if current_user %>
    <p> Welcome, <%= current_user.firstname + ' ' + current_user.lastname %> </p> 
    <p>You are a [<%= current_user.role %>]</p>
    <%= link_to "sign out", destroy_user_session_path, 'data-turbo-method': :delete %>
<% end %>